.messagesPageMain {
    padding-top: 5px;
    height: calc(100vh - 110px);
    overflow: hidden;
}

.messagesPageSubMain {
    height: 100vh;
    margin: 0px;

}

.chatsCategoriesMain {
    border: 5px;
    border-color: black;
    padding: 0px 26px 2px 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0px 0px;
}

.chatCategoryButton {
    border-radius: 4px;
    width: 100%;
    padding: 0px;
    margin: 2% 2%;
    height: 40px;
}

.chatCategoryButton.selected {
    background-color: var(--main-color-4);
}

.chatCategoryButton.unselected {
    background-color: var(--main-color-5);
}

.chatsMainContainer {
    flex: 1;
    height: 90vh;
    overflow-y: scroll;
    border: 5px;
    border-color: black;
    padding: 0px 10px 150px 20px;
    margin: 0px;
    border-right: 1px solid rgb(236, 236, 236);
}

.messagesSectionTitle {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    border-right: 1px solid rgb(236, 236, 236);
    border-top: 1px solid rgb(236, 236, 236);
    /* border: 1px solid rgb(236, 236, 236); */
}

.writeMessageInput {
    border: none;
    outline: none;
    height: 48px;
    border-color: #dadada;
    background-color: rgba(255, 255, 255, 0);
    border-style: double;
    border: 0px;
    padding-left: 20px;
    width: 100%;
}



.chatButton {
    border-radius: 8px;
    width: 98%;
    margin: 2% 0%;
    height: 100px;
}

.chatButton.selected {
    background-color: var(--main-color-4);
}

.chatButton.unselected {
    background-color: var(--main-color-5);
}

.messagesSendSection {
    position: sticky;
    bottom: 0;
    /* background-color: red; */
    padding: 30px 70px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sendMessageIcon {
    padding: 0px;
    margin-right: 20px;
    width: 16px;
    height: 16px;
    filter: saturate(300%) brightness(100%) hue-rotate(10deg)
}

.sendMessageArea {

    bottom: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    display: flex;
    align-items: center;
    /* text-align: center; */
    justify-content: space-between;
    width: 100%;
    box-shadow: 1px 2px 5px var(--main-color-4);
}

.messagesMainContainer {
    flex: 1;
    height: 85vh;
    padding: 0px 50px;
    padding-bottom: 120px;
    overflow-y: scroll;
    border-right: 1px solid rgb(236, 236, 236);
    /* padding-bottom: 150px; */
}

.startAConversationContainer {
    height: 95%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.startAConversation {
    background-color: var(--main-color-5);
    display: flex;
    align-items: center;
    padding: 20px 30px;
    height: 30px;
    border-radius: 20px;
    border: 10px;
}