.messagesBookingDetailsMain {
    padding-top: 0px;
    padding-bottom: 180px;
    flex: 1 !important;
    height: 100vh !important;
    overflow-y: scroll !important;
}

.messagesBookingDetailsMain h3 {
    font-size: 18px;
}

.messagesBookingDetailsMain h4 {
    font-size: 16px;
}

.messagesVanImage {

    width: 100%;
    border-radius: 0px;
    padding: 0%;
    margin-bottom: 30px;
    height: 300px;
    object-fit: cover;

}

.messagesVanOwnerProfileImg {
    width: 50px;
    height: 50px;
    padding: 0px;
    border-radius: 30px;
    margin: 0px;
}

.messagesDetailsPageSub {
    display: flex;
    padding: 0% 5%;
    flex-direction: column;
    justify-content: center;
}

.messagesBookingInfoMain {}

.messagesVanInfoMain {
    /* background-color: rgb(255, 79, 79); */
    height: auto;
}

.messagesVanFeatureIcon {}

.messagesVanDetailsIconsRow {

    margin: 20px 0px 0px 0px;
    text-align: center;
}

.messagesBookingInfoPriceRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.messagesMainPrice{
    font-size: 20px;
}

.messagesTotalPrice {
    font-size: 16px;
}