.vanCardMain{
    padding: 0%;
    margin-top: 0;
    margin-bottom: 20px;
}

.vanCardImage {
    border-radius: 10px;
    width: 100%;
    height: 170px;
    object-fit: cover;
    padding: 0px;
    margin-top: 18px;
}

.vanCardFeature {
    display: flex;
    width: 95%;
    height: 90px;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

.vanCardTitle {
    display: flex;
    width: 95%;
    font-size: 13px;
    height: 70px;
    justify-content: left;
    text-align: left;
    align-items: center;
    white-space: nowrap;
    /* margin: 0 auto; */
    /* align-items: left; */
}


.vanCardIcon {
    width: 18px;
    height: 18px;
    padding: 0px;
    margin: 0px;
    opacity: 0.65;
}

.vanCardDescription {

    margin-top: 0px;
    margin-bottom: 15px !important;
    padding-bottom: 0px;
    font-size: 12px;

}

/* .heartContainer {
    height: 45px;
    padding: 0px;
    margin: 0px;
    position: relative;
    top: -20px;
    right: 70px;
    background-color: red;
} */

.heartButton {
    background: none;
    padding: 5px;
    margin: 0px;
    /* color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit; */
}

.heartIcon {
    padding: 0px;
    margin-left: 15px;
    width: 22px;
    height: 22px;

}

.redHeart {}

.greyHeart {
    filter: saturate(0%) brightness(120%)
}

.vanIconsRow {
    margin: 0px 0px 0px 0px;
    text-align: center;

}

/* .vanCardIcon div{
    padding: 0px;
    margin: 0px;
    align-items: center;
    justify-content: center;
    text-align: center;

} */

/* .parent {
    position: relative;
    top: 0;
    left: 0;
} */

/* .image1 {
    position: relative;
    top: 0;
    left: 0;
} */

/* .image2 {
    position: absolute;
    top: 20px;
    right: 10px;
} */