.vanCardMain {
    padding: 0%;
    margin-top: 0;
    margin-bottom: 20px;
}

.vanCardImage {
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    padding: 0px;
    margin-bottom: 2px;
    margin-top: 18px;
    aspect-ratio: 3.5 / 3;

}

.vanCardFeature {
    display: flex;
    width: 95%;
    height: 90px;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

.vanCardTitle {
    display: flex;
    width: 95%;
    /* font-size: 13px; */
    font-size: 1em;
    height: 40px;
    justify-content: left;
    text-align: left;
    align-items: center;
    white-space: nowrap;
    /* margin: 0 auto; */
    /* align-items: left; */
}


.vanCardIcon {
    width: 18px;
    height: 18px;
    padding: 0px;
    margin: 0px;
    opacity: 0.65;
}

.vanCardDescription {

    margin-top: 0px;
    margin-bottom: 8px !important;
    padding-bottom: 0px;
    font-size: 0.8em;
    /* font-size: 12px; */

}

.imageParent {
    position: relative;
}

.heartButton {
    background: none;
    padding: 5px;
    margin: 0px;
    position: absolute;
    top: 30px;
    right: 10px;
}

.heartIcon {
    padding: 0px;
    margin-left: 15px;
    width: 25px;
    height: 25px;

}

.greyHeart {
    filter: saturate(0%) brightness(120%)
}

.vanIconsRow {
    margin: 0px 0px 0px 0px;
    text-align: center;

}

@media screen and (max-width: 576px) {
    .vanCardMain {
       font-size: 1.2em;
    }
}