.siceCard img {
    width: 100%;
}

.confirmPageSection1 {
    margin-top: 8%;
    margin-bottom: 8%;
}

#rowPay {
    margin-bottom: 4%;
    /* margin-left: 4%; */
}

#cardTi {
    margin-top: 5%;
    padding-right: 5%;
}

#priceDetail {
    margin-left: 5%;
    border-radius: 15px
}

#impay {
    border-radius: 20px;
    max-width: 300px;
    padding-left: 10%;
}

#sect1 {
    margin-right: 4%;
    margin-left: 4%;
}

.creditCardIcon{
    width: 30px;
    height: 30px;
    padding: 0px;
    margin: 0px;
    margin-right:5px;
}

.confirmPageVanImage{
    border-radius: 8px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 110px;
    object-fit: cover;
}

.confirmBookingCardDetails{
    margin-top: 90px;
}

.confirmCardOwner{
    font-size: 12px;
    font-weight: lighter;
}

.confirmCardVanName {
    font-size: 10px;
    font-weight: lighter;
}