.siceCard img {
    width: 100%;
}

.confirmPageSection1 {
    margin-top: 8%;
    margin-bottom: 8%;
}

#rowPay {
    margin-bottom: 4%;
    /* margin-left: 4%; */
}

/* #cardTi {
    margin-top: 5%;
    padding-right: 5%;
} */

#priceDetail {
    margin-left: 5%;
    border-radius: 15px
}

#impay {
    border-radius: 20px;
    max-width: 500px;
}

#sect1 {
    margin-right: 4%;
    margin-left: 4%;
}

#priceDetail {
    position: fixed;
    margin-right: 5%;
}

#upCover {
    color: #FF5C5C;
}

#save {
    font-size: 1.4em;
}

#priceBooking {
    /* margin-bottom: 15%; */
    padding-bottom: 15%;
}

.creditCardIcon {
    width: 30px;
    height: 30px;
    padding: 0px;
    margin: 0px;
    margin-right: 5px;
}

.confirmPageVanImage {
    border-radius: 8px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 110px;
    object-fit: cover;
}

.confirmBookingCardDetails {
    margin-top: 90px;

}

.confirmCardOwner {
    font-size: 12px;
    font-weight: lighter;
}

.confirmCardVanName {
    font-size: 10px;
    font-weight: lighter;
}