.siceCard img {
    width: 100%;
}

.confirmPageSection1 {
    margin-top: 7%;
    margin-bottom: 3%;
}

#rowPay {
    margin-bottom: 4%;
}

#priceDetail {
    margin-left: 5%;
    border-radius: 15px
}

#impay {
    border-radius: 20px;
    max-width: 500px;
}

#sect1 {
    margin-right: 4%;
    margin-left: 4%;
}

#priceDetail {
    position: fixed;
    margin-right: 5%;
}

#upCover {
    color: #FF5C5C;
}

#save {
    font-size: 1.3em;
}

#priceBooking {
    padding-bottom: 15%;
}

.creditCardIcon {
    width: 30px;
    height: 30px;
    padding: 0px;
    margin: 0px;
    margin-right: 5px;
}

.confirmPageVanImage {
    border-radius: 8px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 110px;
    object-fit: cover;
}

.confirmBookingCardDetails {
    margin-left: 10%;
    margin-top: 90px;

}

.confirmCardOwner {
    font-size: 12px;
    font-weight: lighter;
}

.confirmCardVanName {
    font-size: 10px;
    font-weight: lighter;
}

#hrcolor {
    width: 93%;
}

@media screen and (max-width: 400px) {

    .confirmPageSection1 {
        margin-top: 25%;
        margin-bottom: 20%;
    }

    #canfirmationCard {
        height: 550px;
    }

    #paymentMethods {
        margin-left: 5%;
        margin-bottom: 5%;
    }

}

@media screen and (min-width: 400px) and (max-width: 1000px) {

    .confirmPageSection1 {
        margin-top: 15%;
        margin-bottom: 20%;
    }

    #canfirmationCard {
        height: 550px;
    }

}