body {
    padding: 0;
    margin: 0;
    background-image: url("https://res.cloudinary.com/dzzkeb6xp/image/upload/v1652905952/vans_project/photo-1576793048000-494aaa93d160_nedgvh.jpg");
    background-color: #FFCFA5;
    background-repeat: no-repeat;
    background-size: 1800px 800px;
}

#section1 {
    margin-top: 20px;
}



.card-img-overlay {}