#section1 {
    padding-top: 50px;
    background-color: black;
}

#section1 h1 {
    color: white;
    display: flex;
    justify-content: center;
}

.addVanButton {
    background-color: red;
    width: 100%;
}

/* #sectiontext {
    font-size: larger;
    color: black;
    margin-top: 12%;
    margin-left: 10%;

}

#sectiont1 img {
    max-height: 500px;
}

#sectiontext button {
    margin-top: 1%;
} */

#section2 {
    margin-top: 4%;
}

#section2 h2 {
    margin: 6%;
    text-align: center;
}

#card1 {
    margin: 4%;
}

#card2 {
    margin: 4%;
}

#card3 {
    margin-top: 10%;
}

#card4 {
    margin-top: 10%;
}

#section3 {
    margin-top: 3%;
}

.modal-content {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.948);
}

#ib {
    background-image: url("https://res.cloudinary.com/dzzkeb6xp/image/upload/v1652905872/vans_project/photo-1629906771435-d0f397a1c910_gu6qby.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#title {
    margin-top: 15%;
    margin-bottom: 12%;
    text-align: center;

}

#title h1 {
    color: white;
    margin-bottom: 5%;
    text-align: center;
}

#btn {
    font-size: 1.4em;
}

#im {
    max-width: 800px;
    padding: 6px;
}

#section2 {
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
}

#section2 h3 {
    text-align: center;
    font-size: 25px;
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;

}

#section2 p {
    text-align: center;
}

#im2 {
    max-height: 600px;
}

#section4 {
    margin-top: 10%;
    background-image: url("https://images.pexels.com/photos/210010/pexels-photo-210010.jpeg?cs=srgb&dl=pexels-pixabay-210010.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
}

#section4 h2 {
    text-align: center;
}

#section3 h2 {
    text-align: center;
    margin-bottom: 2%;
}

#section3 {
    margin-top: 4%;
}

#btn2 {
    margin-top: 5%;
}

#div4 {
    text-align: center;
}

#sect3text {
    margin-bottom: 5%;
}

#section5 {
    margin-top: 100px;
    background-color: black;
    /* background-image: url("https://images.pexels.com/photos/210010/pexels-photo-210010.jpeg?cs=srgb&dl=pexels-pixabay-210010.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%; */
}

#ib2 {
    background-image: url("https://images.pexels.com/photos/210010/pexels-photo-210010.jpeg?cs=srgb&dl=pexels-pixabay-210010.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 0px;
}

#section5 h1 {
    /* color: white; */
    display: flex;
    justify-content: center;
}