#rowTitle {
    margin-bottom: 4%;
}

#vanImg {
    height: 400px;
}

.details {
    margin-top: 5%;
    margin-bottom: 5%;
    color: #FF5C5C;

}

#cancelation {
    margin-bottom: 1%;
}

#cancelationTile {
    margin-bottom: 1%;
}

#cancelationPolici {
    margin-bottom: 5%;
}