.bookingConfirmCardMain{

}

.bookingConfirmCardMain h3, h4, h5{
    font-size: 1.3em;
}


#rowTitle {
    margin-bottom: 4%;
}

#vanImg {
    height: 400px;
}

.confirmAndPayTitle {
    color: black;
    font-size: 28px !important;
    margin-top: 1%;
    margin-bottom: 8%;
    /* color: #FF9C82; */

}