

.bookingConfirmCardMain h3,
h4,
h5 {
    font-size: 1.3em;
}


#rowTitle {
    margin-bottom: 4%;
}

#vanImg {
    height: 400px;
}

.details {
    margin-top: 5%;
    margin-bottom: 5%;
    color: #FF5C5C;
}

.confirmAndPayTitle {
    color: black;
    font-size: 28px !important;
    margin-top: 1%;
    margin-bottom: 8%;
    /* color: #FF9C82; */

}

.confirmBookingInfoMain {

    /* margin-left: 50px; */
    width: 100%;
    height: 490px;
    border-radius: 13px;
    padding:  25px;
    margin-right: 10%;
    /* background-color: red; */
    box-shadow: 3px 3px 10px var(--main-color-3);
}
#cancelation {
    margin-bottom: 1%;
}

#cancelationTile {
    margin-bottom: 1%;
}

#cancelationPolici {
    margin-bottom: 5%;
}