.detailsPage {
    padding-top: 120px;
    padding-bottom: 120px;
}

.detailsLeftBlock {
    padding: 50px 50px;
}

.detailsPage a {
    text-align: right;
    display: flex;
    justify-content: right;
    padding: 0px;
    margin: 0px;
}

.detailsPageSub {
    display: flex;
    padding: 0% 13%;
    flex-direction: column;
    justify-content: center;
}

/* .detailsPage .row {
    text-align: right;
    display: flex;
    justify-content: right;
} */

.detailsRow {
    padding: 0px;
    margin: 0px;
}

.vanImage {
    width: 100%;
    border-radius: 10px;
    padding: 0%;
    margin-bottom: 50px;
    height: 500px;
    object-fit: cover;

}

.detailsPageTitle {
    padding: 0px;
    font-size: 24px;
}

/* .detailsPageTitle h2 {
    font-size: 28px;
} */

.detailsButtonWide {
    display: flex;
    justify-content: center;
    width: 285px;
    height: 45px;
    align-items: center;
}

.vanDetailsIconsRow {
    margin: 30px 0px 70px 0px;
    text-align: center;

}

.detailsHeartIcon {
    height: 45px;
    padding: 0px;
    margin: 0px;
    position: relative;
    top: 5px;
    right: 50px
}

.detailsPage .datePicker {
    display: flex;
    justify-content: right;
}

.reviewSectionTitle {
    padding: 35px 50px;
}

.reviewSectionTitle h2 {
    font-size: 25px;
}



.reviewButton {
    display: flex;
    justify-content: left;
    padding-top: 60px;
    padding-left: 75px;
    padding-bottom: 70px;
    margin-bottom: 50px;
}

.addReviewButton {
    width: 200px;
}

.vanInfoMain {
    /* background-color: red; */
    margin-right: 50px;
}

.bookingInfoMain {
    width: 100%;
    height: 400px;
    border-radius: 13px;
    /* background-color: red; */
    box-shadow: 3px 3px 10px var(--main-color-3);
}

.bookingInfoRating strong{
      
}

.vanOwnerProfileImg{
    width: 50px;
    height: 50px;
    padding: 0px;
    border-radius: 30px;
    margin: 0px;
}