.detailsPage {
    padding-top: 120px;
    padding-bottom: 120px;
}

.detailsLeftBlock {
    padding: 50px 50px;
}

.detailsPage a {
    text-align: right;
    display: flex;
    justify-content: right;
    padding: 0px;
    margin: 0px;
}

.detailsPageSub {
    display: flex;
    padding: 0% 13%;
    flex-direction: column;
    justify-content: center;
}

/* .detailsPage .row {
    text-align: right;
    display: flex;
    justify-content: right;
} */

.detailsRow {
    padding: 0px;
    margin: 0px;
}

.vanImage {
    width: 100%;
    border-radius: 10px;
    padding: 0%;
    margin-bottom: 50px;
    height: 500px;
    object-fit: cover;
}

.detailsPageTitle {
    padding: 0px;
    font-size: 24px;
}

/* .detailsPageTitle h2 {
    font-size: 28px;
} */

/* .detailsButtonWide {
    display: flex;
    justify-content: center;
    width: 285px;
    height: 45px;
    align-items: center;
} */

.bookVanButton {
    color: white;
    /* display: flex;
    width: 100%;
    height: 100%;
    border-radius: 0px 6px 6px 0px;
    font-size: 13px;
    align-items: center;
    background-color: var(--vanmeup-2);
    padding: 0px 20px; */
    
    width: 100%;
    height: 48px;
    border-radius: 6px;
    background-color: var(--vanmeup-2);
}

.vanDetailsIconsRow {
    margin: 30px 0px 70px 0px;
    text-align: center;
}

.detailsHeartIcon {
    height: 45px;
    padding: 0px;
    margin: 0px;
    position: relative;
    top: 5px;
    right: 50px
}

.detailsPage .datePicker {
    display: flex;
    justify-content: right;
}

.reviewSectionTitle {
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.reviewSectionTitle h2 {
    font-size: 25px;
}



.reviewButtonContainer {
    display: flex;
    justify-content: left;
    padding-top: 60px;
    padding-left: 0px;
    padding-bottom: 70px;
    margin-bottom: 50px;
}

.writeReviewButton {
    width: 200px;
    background-color: var(--vanmeup-4);
    color: white;
    border-radius: 7px;
}

.vanInfoMain {
    /* background-color: red; */
    margin-right: 5px;
}

.bookingInfoMain {

    /* margin-left: 50px; */
    width: 100%;
    height: 490px;
    border-radius: 13px;
    padding: 25px;
    margin-left: 20%;
    /* background-color: red; */
    box-shadow: 3px 3px 10px var(--main-color-3);
}

.bookingInfoPriceRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.bookingInfoMain .mainPrice {

    font-size: 22px;
}

.bookingInfoPriceRow p {
    margin: 0px;
}

.bookingInfoRating {
    display: flex;
    align-items: center;
    justify-content: right;
}

.vanOwnerProfileImg {
    width: 50px;
    height: 50px;
    padding: 0px;
    border-radius: 30px;
    margin: 0px;
}

.dateContainer {
    display: flex;
    justify-content: center;
    border: 1px;
    border-color: rgb(219, 219, 219);
    border-style: solid;
    border-radius: 6px;
    /* background-color: red; */
    padding: 4px;
}