.paymentTitle {
    text-align: center;
    margin-bottom: 8%;
}

.paymentPrice {
    margin-bottom: 4%;
    font-size: larger;
}

.payment {
    border-radius: 10px;
}

#paybtn {
    text-align: center;
}

#payBtn {
    font-size: 1.4em;
    background-color: #FF5C5C;
    padding-right: 7%;
    padding-left: 7%;
    margin-bottom: 5%;
    border-color: white;

}

#linkpay {
    color: white;
}