/* 
.beach-1-hex { color: #8EA39C; }
.beach-2-hex { color: #C1DBD0; }
.beach-3-hex { color: #F3EDDE; }
.beach-4-hex { color: #FFCFA5; }
.beach-5-hex { color: #FF9C82; } */
.navbar-light .navbar-toggler {
    border: 0px;
}

.navBarMain {
    height: 80px;

}

#logo {
    padding: 0;
}

.background-navbar {
    background-color: white;
}

.offcanvas {
    background-color: #ffffff;
}

.nav-link {
    padding: 0;

    color: #202020;
}

.nav-link img {
    height: 40px;
}

.nav-link:hover {
    text-decoration: none;
    color: #000000;
}

.logo-img img {
    margin: 20px 0;
}

.logo-img img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.offcanvas-end {
    margin-right: 10px;
    display: flex;

    width: 300px;
    align-items: center;
    border-radius: 7px;
}

.canvas-tittle {
    color: #FF5C5C;
}

.navbar-toggler {
    font-size: 1rem;
}

#logo1 {
    background-color: rgb(255, 255, 255);
}

.navbar-toggler {
    margin-right: 40px;
    font-size: 1rem;
}

.logo-nav {

    margin-left: 50px;

}

.logo-nav {
    width: auto;

}

.navbar {
    padding: 0;
}

.modal-content {
    background-color: #ffffff;
    padding: 15px;

}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.offcanvas-end {
    margin-right: 0px;
    display: flex;
    width: 300px;
    align-items: center;
    border-radius: 0px;
}

.dropdownIcon {
    width: 40px;
    height: 40px;
    padding: 0px;
    margin: 0px;
    border-radius: 30px;
}

.dropdown-menu.show {
    background-color: white;
    border: 0px;
    border-radius: 8px;
    box-shadow: 1px 2px 5px var(--main-color-2);
}

.dropdown-toggle::after {
    margin-left: 0.705em;
    position: absolute;
    top: 20px;
    right: 47px;

}

/* .containerTest {
    background-color: red;
    width: 100%;
} */

.navigationMainContainer {
    width: 100%;
}

.myDropDown {
    margin-right: 70px;
}

.dropdown-menu.show {
    margin-top: 7px;
}

.dropdownHamIcon {
    width: 22px;
    height: 22px;
    padding: 0px;
    margin: 0px;
    margin-right: 5px;
    border-radius: 30px;
}