/* 
.beach-1-hex { color: #8EA39C; }
.beach-2-hex { color: #C1DBD0; }
.beach-3-hex { color: #F3EDDE; }
.beach-4-hex { color: #FFCFA5; }
.beach-5-hex { color: #FF9C82; } */
.navbar-light .navbar-toggler {
    border: 0px;
}

.navBarMain {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
}

.navBarMain {
    height: 80px;

}

#logo {
    padding: 0;
}

.logoContainer {
    height: 0px;
}

.background-navbar {
    background-color: white;
}

.offcanvas {
    background-color: #ffffff;
}

.nav-link {
    padding: 0;

    color: #202020;
}

.nav-link img {
    height: 40px;
}

.nav-link:hover {
    text-decoration: none;
    color: #000000;
}

.logo-img img {
    padding: 20px 0;
}

.logo-img img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.offcanvas-end {
    margin-right: 10px;
    display: flex;

    width: 300px;
    align-items: center;
    border-radius: 7px;
}

.canvas-tittle {
    color: #FF5C5C;
}

.navbar-toggler {
    font-size: 1rem;
}

#logo1 {
    background-color: rgb(255, 255, 255);
}

.navbar-toggler {
    margin-right: 40px;
    font-size: 1rem;
}

.logo-nav {
    margin-left: 3vw;
    width: auto;
    height: 50px;
}

.navbar {
    padding: 0;
}

.modal-content {
    background-color: #ffffff;
    padding: 15px;

}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.offcanvas-end {
    margin-right: 0px;
    display: flex;
    width: 300px;
    align-items: center;
    border-radius: 0px;
}

.dropdownIcon {
    width: 40px;
    height: 40px;
    padding: 0px;
    margin: 0px;
    border-radius: 30px;
}

/* .dropdownContainer{
    margin: auto;
} */

.dropdown-menu.show {
    background-color: white;
    border: 0px;
    border-radius: 8px;

    padding: 13px 16px 13px 16px;
    box-shadow: 1px 2px 5px var(--main-color-2);
}

.dropdown-toggle::after {
    display: none;
    margin-left: 0.705em;
    position: absolute;
    top: 0px;
    right: 47px;

}

/* .containerTest {
    background-color: red;
    width: 100%;
} */

.navigationMainContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 14px;
    padding-bottom: 14px;
    justify-content: space-between;
}

.becomeAndProfile {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.myDropDown {
    margin: 0 4vw;
}

.dropdown-menu.show {
    margin-top: 7px;
}

.dropdownHamIcon {
    width: 22px;
    height: 22px;
    padding: 0px;
    margin: 0px;
    margin-right: 5px;
    border-radius: 30px;
}

.becomeOwnerIcon {
    width: 28px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    margin-right: 7px;
    filter: saturate(1000%) brightness(110%) hue-rotate(223deg)
}

.becomeOwnerButton {

    display: flex;
    width: 180px;
    padding: 0px 0px;
    height: 38px;
    border-radius: 6px;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    /* color: black; */
    background-color: white !important;
    box-shadow: 1px 2px 5px var(--main-color-3);
    color: black;
}

.nav-link {
    font-size: 13px !important;
}

.dropdown-item {
    background-color: white !important;
}

#hostBtn {
    font-size: 1.2em;
}

.becomeHost {
    margin: auto;
}

@media screen and (max-width: 500px) {
    .becomeHost {
        visibility: hidden;
        clear: both;
        float: left;
        margin: 10px auto 5px 20px;
        width: 28%;
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .navSearchBar {
        visibility: hidden;
        clear: both;
        float: left;
        margin: 10px auto 5px 20px;
        width: 28%;
        display: none;
    }
}