/* 
.beach-1-hex { color: #8EA39C; }
.beach-2-hex { color: #C1DBD0; }
.beach-3-hex { color: #F3EDDE; }
.beach-4-hex { color: #FFCFA5; }
.beach-5-hex { color: #FF9C82; } */
.navbar-light .navbar-toggler {
    border: 0px;
}

.navBarMain {
    height: 80px;
    /* box-shadow: 2px 2px 5px var(--main-color-4); */

}

#logo {
    padding: 0;
}

.background-navbar {
    background-color: white;
}

.offcanvas {
    background-color: #ffffff;
}

.nav-link {
    padding: 0;

    color: #FF5C5C;
}

.nav-link img {
    height: 40px;
}

.nav-link:hover {
    text-decoration: none;
    color: #a82121;
}

.logo-img img {
    margin: 20px 0;
}

.logo-img img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.offcanvas-end {
    margin-right: 10px;
    display: flex;
    
   width: 300px;
    align-items: center ;
    border-radius: 7px;
}

.canvas-tittle {
    color: #FF5C5C;
}

.navbar-toggler {
    font-size: 1rem;
}

#logo1 {
    background-color: rgb(255, 255, 255);
}

.navbar-toggler {
    margin-right: 40px;
    font-size: 1rem;
}

.logo-nav {

    margin-left: 50px;
   
}

.logo-nav {
    width: auto;

}

.navbar{
    padding: 0;
}
.modal-content {
    /* border: 6px solid #FFCDCD; */
    background-color: #ffffff;
    padding: 15px;
    
}

/* .modal1{
    
} */