.chatButtonMain {
    width: 100%;
    height: 100px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 20px;
}

.chatButtonLeft {
    /* display: flex;
    align-items: center; */
    /* background-color: red; */
    height: 50px;
    /* height: auto; */
}

.chatButtonRight {
    /* background-color: rgb(121, 134, 202); */
    text-align: left;
}

.chatProfileImage {
    width: 50px;
    border-radius: 50px;
    margin: 0px 15px 15px 0px;
    padding: 0px;
    height: auto;
}

/* 
.reviewComment h2 {
    padding-bottom: 70px;
}

.chatProfileImage {
    width: 50px;
    border-radius: 50px;
    margin: 0px 15px 15px 0px;
    padding: 0px;
}

.reviewComment {
    display: flex;
    flex-direction: column;
}

.commentUpper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.commentUpper {
    display: flex;
    flex-direction: row;
} */