hr {
    color: #ff5c5c76;
}

.top-margin {
    padding-top: 7%;
}
.background-profile-detalis {
    border-radius: 10px;
    box-shadow: 3px 3px 10px var(--main-color-3);
    /* border: 2px solid #ff5c5c31; */

    /* padding: 16% 16% 32% 16%; */
}
.button-profile {
    margin-top: 0.5em;
    padding: 10px 0;
    background-color: transparent;
}
.button-profile:hover {
    background-color: #ff5c5c4f;
    /* background-color: #ff5c5c; */
    /* color: white; */
}

.button-profile.current {
    background-color: var(--vanmeup-2);
    color: white;
    border-radius: 6px;
    /* font-weight: 600; */
}

.message-btn img {
 width:30%;
 height: auto;
 padding: 0;
}


.message-btn {
   background-color: transparent;
    
}
.buttons-shortcuts{
    margin: 1em;
    display: flex
    
}

.profileButtonsMain{
padding: 30px;



    
}