.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

img {
    width: 100%;
}

/* PRESAVED COLORS TO USE ACROSS THE APP */
:root {
    --main-color-1: rgb(56, 56, 56);
    --main-color-2: rgb(134, 134, 134);
    --main-color-3: rgb(212, 212, 212);
    --main-color-4: rgb(236, 236, 236);
    --main-color-5: #f8f9fa;
}

/* ESTA ES NUESTRA PALETA DE COLORES, UTILIZAR EN TODA LA WEB Y CAMBIAR AQUI PARA CAMBIAR EL TEMA DE LA WEB */
:root {
    --vanmeup-1: #FF7F4D;;
    --vanmeup-2: #FF5C5C;
    --vanmeup-3: #FF9C40;
    --vanmeup-4: #FFCDCD;
    --vanmeup-5: #F2F2F0;
}

/* You can use theese colors this way: */

/* #foo {
    color: var(--vanmeup-3);

INSTEAD OF

/* #foo {
    color: red;
} */



/* THIS REMOVES SOME STILYNG WHEN CLICK ON BOOSTRAP BUTTONS */
.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn {
    box-shadow: none !important
}

a{
    text-decoration: none !important;
}

body {
    word-break: break-word;
}