.cityAndDate {
    background-color: white;
    border-radius: 6px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    justify-content: space-between;
    box-shadow: 2px 2px 8px var(--main-color-3);
    /* z-index: 2000; */
    padding: 0px;
    padding-left: 2%;
    height: 40px;
    margin: 0 auto;
}

.cityAndDaterDatePickerContainer{
    width: 50%;
}

.cityAndDateElem {
    border: none;
    outline: none;
    height: 100%;
    border-color: #dadada;
    background-color: rgba(255, 255, 255, 0);
    border-style: double;
    border: 0px;
}

.cityInput {
    border: none;
    outline: none;
    height: 100%;
    border-color: #dadada;
    background-color: rgba(255, 255, 255, 0);
    border-style: double;
    border: 0px;
    width: 35%;
}

.cityAndDateSearchButtonLink {
    width: 25%;
    height: 100%;
    text-decoration: none !important;
}

.cityAndDateSearchButton {
    
    color: white;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 0px 6px 6px 0px;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    background-color: var(--vanmeup-2);
    padding: 0px 5px;
}

.searchText{
    font-size: clamp(6px, 1vw, 15px);
    margin-left: 3px;
}

.cityAndDateSearchIcon {
    padding: 0px;
    width: 20px;
    height: 20px;
    filter: brightness(400%);
}

@media screen and (max-width: 992px) {
    .searchText {
        visibility: hidden;
        clear: both;
        float: left;
        margin: 10px auto 5px 20px;
        width: 28%;
        display: none;
    }
}