.cityAndDate {
    background-color: white;
    border-radius: 6px;
    display: flex;
    align-items: center;
    width: auto;
    box-shadow: 2px 2px 8px var(--main-color-3);
    /* z-index: 2000; */
    height: 47px;
    padding-left: 20px;
}

.cityAndDateElem {
    border: none;
    outline: none;
    height: 100%;
    border-color: #dadada;
    background-color: rgba(255, 255, 255, 0);
    border-style: double;
    border: 0px;
}

.cityElem {
    border: none;
    outline: none;
    height: 100%;
    border-color: #dadada;
    background-color: rgba(255, 255, 255, 0);
    border-style: double;
    border: 0px;
    width: 100px;
}

.cityAndDateSearchButtonLink {
    width: 100%;
    height: 100%;
    text-decoration: none !important;
}

.cityAndDateSearchButton {
    
    color: white;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 0px 6px 6px 0px;
    font-size: 13px;
    align-items: center;
    background-color: var(--vanmeup-2);
    padding: 0px 20px;
}

.cityAndDateSearchButton p{
    font-size: 16px;
}

.cityAndDateSearchIcon {
    padding: 0px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    filter: brightness(400%);
}