/* 
.beach-1-hex { color: #8EA39C; }
.beach-2-hex { color: #C1DBD0; }
.beach-3-hex { color: #F3EDDE; }
.beach-4-hex { color: #FFCFA5; }
.beach-5-hex { color: #FF9C82; } */
.title-h1 h1 {
    font-size: 3em;
    font-family: "Josefin Sans", sans-serif;
    color: #ffffff;
    /* text-shadow: 0.1em -0.06em 0.03em #7c7c7c; */
    margin-bottom: 2rem;
}

.homeMain {
    padding-top: 25vh;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    background-image: url("https://res.cloudinary.com/dzzkeb6xp/image/upload/v1653034766/fondo-home2_ws3zyo.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

/* .card-style {
    margin: 0 20px;
    background-color: #fefdfaed;
} */

/* .row-cards {
    margin-top: 25px;
} */

/* .input-location {
    height: 48px;
    border-color: #dadada;
    border-style: double;
    border-width: 1px;
    padding-left: 20px;
} */

.search-button {
    height: 48px;
}

.homeContentMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.findAVan {
    text-align: center;
    height: auto;
    color: white;
    margin-bottom: 50px;
    font-size: 36px;
    font-size: clamp(28px, 4.7vw, 36px);
}

.homeSearchMain {
    width: 95vw;
    max-width: 1000px;
    border-radius: 10px;
    background-color: #fefdfaed;
    margin: 0 auto;
    padding: 2% 5% 1% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.homeSearchMain h3{
    font-size: clamp(20px, 4vw, 25px);
}

.cityAndDateContainer {
    padding: 5% 0%;
    width: 100%;

}