/* 
.beach-1-hex { color: #8EA39C; }
.beach-2-hex { color: #C1DBD0; }
.beach-3-hex { color: #F3EDDE; }
.beach-4-hex { color: #FFCFA5; }
.beach-5-hex { color: #FF9C82; } */
.title-h1 h1 {
    font-size: 3em;
    font-family: "Josefin Sans", sans-serif;
    color: #ffffff;
    /* text-shadow: 0.1em -0.06em 0.03em #7c7c7c; */
    margin-bottom: 2rem;
}

.homeMain {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    background-image: url("https://res.cloudinary.com/dzzkeb6xp/image/upload/v1653034766/fondo-home2_ws3zyo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* .btn-dark {
    background-color: #ff9c82;
    border-color: #ffcfa5;
    opacity: 0.9;
}

.btn-dark a {
    text-decoration: none;
    color: #ffffff;
}

.btn-dark:hover {
    color: #ffffff;
    background-color: #da7359;
    border-color: #efac71;
    opacity: 1;
} */

.background-col {
    padding: 20px 0;
    background-color: #ffffff;
    opacity: 0.5;
}

.background-row {
    
    border-radius: 10px;
    border: 30px;
    padding: 20px 0;
    background-color: #fefdfaed;

    margin-right: 200px;
    margin-left: 200px;
}

.nav-margin {
    padding-top: 15%;
}

.title {
    text-align: center;
    height: auto;
}

.card-style {
    margin: 0 20px;
    background-color: #fefdfaed;
}

.row-cards {
    margin-top: 25px;
}

.input-location {
    height: 48px;
    border-color: #dadada;
    border-style: double;
    border-width: 1px;
    padding-left: 20px;
}

.search-button {
    height: 48px;
}