.resultsPageMain {
    height: calc(100vh - 100px);
    background-color: var(--main-color-5);
    overflow: hidden
        /* position: absolute;
    top: 80px; */
}

.resultsPageMainNoSubScroll {
    height: auto;
    background-color: var(--main-color-5);
    /* position: absolute;
    top: 80px; */
}

.resultsTopBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 3px 3px 5px var(--main-color-5);
    background-color: var(--main-color-5);
    z-index: 10000;
}

.filterContainerMain {
    position: absolute;
    top: 140px;
    z-index: -0;
    right: 0px;
    /* width: 300px; */
    height: calc(100vh - 168px);
    overflow: hidden;
}

.filterMain {
    flex: 1 !important;
    height: calc(78vh) !important;
    overflow-y: scroll !important;
    margin-top: 0px;
    padding: 5% 4%;
    padding-bottom: 25%;
}

.pro-sidebar {
    /* width: max(100vh, 400px) !important; */
    /* min-width: 0px !important;
    max-width: 100vh !important; */
    /* max-width: max(100vw, 400px) !important; */
}

.filterButton {
    display: flex;
    width: 95%;
    height: 40px;
    border-radius: 5px;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    font-size: 13px;
}



.filterButtonWide {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    border-radius: 6px;
}

/* .resultsPage h3 {
    font-size: 1.5em;
} */

.filterRowSmall {
    margin-top: 0px;
    margin-bottom: 12px;
}

.filterButtonCol {
    padding: 5px;
    margin: 0px;
}

.filterRow {
    margin-top: 0px;
    margin-bottom: 20px;

}

.filterTitle {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 17px;
}

.filterMain .btn-dark {

    background-color: #111111;
    ;
    border-color: #111111;
}

.filterMain .btn-dark a {
    text-decoration: none;
    color: #F3EDDE;

}

.filterMain .btn-dark:hover {
    color: #F3EDDE;
    background-color: #111111;
    border-color: #111111;
    opacity: 1;
}

.textInputClean {
    background-color: #f8f9fa;
    border: 0px;
}

.textInputBig {
    height: 40px;
    font-size: 13px;
    width: 100%;
}

.textInputSmall {
    height: 40px;
    font-size: 13px;
}

.testDiv {
    background-color: red;
}


/* Date picker */


.nameSearchBar {
    background-color: white;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    box-shadow: 1px 2px 5px var(--main-color-4);
}

.nameSearchBarInput {
    border: none;
    outline: none;
    height: 40px;
    border-color: #dadada;
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    padding-left: 15px;
    width: 100%;
}

.resultsPageMain .pro-sidebar {
    color: rgb(91, 91, 91) !important
}

.resultsPageMain .pro-sidebar-inner {
    background: white !important
}

.resultsPageMain .pro-sidebar-layout {
    flex-direction: row !important
}

.showFiltersButton {

    display: flex;
    width: 90px;
    height: 40px;
    border-radius: 6px;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    background-color: white !important;
    box-shadow: 1px 2px 5px var(--main-color-4);
}

.showMapButton {

    display: flex;
    width: 120px;
    height: 40px;
    border-radius: 6px;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    background-color: white !important;
    box-shadow: 1px 2px 5px var(--main-color-4);
}

.locationButton {
    display: flex;
    padding: 0px 0px;
    height: 40px;
    border-radius: 6px;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    /* color: black; */
    background-color: white !important;
    box-shadow: 1px 2px 5px var(--main-color-4);
    color: black;
}

.locationButton.pressed {
    color: rgb(255, 111, 0) !important;
}

.locationButton.unpressed {
    background-color: white !important;
}

.locationButtonIcon {
    padding: 0px;
    margin-right: 10px;
    width: 24px;
    height: 24px;

}

.showFiltersButton.unchecked {
    color: black;
}

.showFiltersButton.checked {
    color: var(--vanmeup-2);
}

.filterButtonIcon {
    padding: 0px;
    margin-right: 5px;
    width: 15px;
    height: 20px;
}

.mapButtonIcon {
    padding: 0px;
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

.showMapButton.unchecked {
    color: black;

}

.showMapButton.checked {
    color: var(--vanmeup-2);
}

.searchIcon {
    padding: 0px;
    margin-right: 5px;
    width: 16px;
    height: 16px;
}

.searchNameIcon {
    padding: 0px;
    margin-right: 15px;
    width: 16px;
    height: 16px;
}

.vansFoundBox {
    margin-left: 50px;
    width: 170px;
    height: 40px;
    font-size: 1em;
    border-radius: 50px;
    text-align: center;
    background-color: white;
}

.resultsPageContainerMain {
    padding: 0px;
    /* height: 100%; */
    /* background-color: rgba(128, 0, 128, 0.299); */
}

.filterLocationButton {
    display: none !important;
}

.topBarLocationButton {
    display: block !important;
}

.filterDatesBar {
    display: none;
}

.topBarDatesBar {
    display: block !important;
}

.topBarName {
    display: block;
}

.filterVanName {
    display: none !important;
}

@media screen and (max-width: 1200px) {
    .filterLocationButton {
        display: block !important;
    }

    .topBarLocationButton {
        display: none !important;
    }
}

@media screen and (max-width: 992px) {

    .topBarLocationButton {
        display: none !important;
    }

    .filterDatesBar {
        display: block;
    }

    .topBarDatesBar {
        display: none !important;
    }
}

@media screen and (max-width: 576px) {

    .topBarName {
        display: none;
    }

    .filterVanName {
        display: block !important;
    }
}