.resultsPageMain {
    overflow: hidden;
    height: 100vh;
    padding-top: 100px;
    background-color: var(--main-color-5);
    /* font-size: 0.8em; */
}

/* .resultsContainer {
    padding: 0;
} */

.resultsTopBar {
    padding-bottom: 20px;
    padding-top: 5px;
    box-shadow: 3px 3px 5px var(--main-color-5);
    background-color: var(--main-color-5);
}

.filterMain {
    margin-top: 0px;
    padding-bottom: 250px;

}

.filterButton {
    display: flex;
    width: 95%;
    height: 40px;
    border-radius: 5px;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    font-size: 13px;
}

.filterScroll {
    flex: 1 !important;
    height: 100vh !important;
    overflow-y: scroll !important;
}



.filterButtonWide {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    border-radius: 6px;
}

/* .resultsPage h3 {
    font-size: 1.5em;
} */

.filterRowSmall {
    margin-top: 0px;
    margin-bottom: 12px;
}

.filterButtonCol {
    padding: 5px;
    margin: 0px;
}

.filterRow {
    margin-top: 0px;
    margin-bottom: 20px;
}

.filterTitle {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 17px;
}

.filterMain .btn-dark {

    background-color: #111111;
    ;
    border-color: #111111;
}

.filterMain .btn-dark a {
    text-decoration: none;
    color: #F3EDDE;

}

.filterMain .btn-dark:hover {
    color: #F3EDDE;
    background-color: #111111;
    border-color: #111111;
    opacity: 1;
}

.textInputClean {
    background-color: #f8f9fa;
    border: 0px;
}

.textInputBig {
    height: 40px;
    font-size: 13px;
    width: 100%;
}

.textInputSmall {
    height: 40px;
    font-size: 13px;
}

.testDiv {
    background-color: red;
}


/* Date picker */


.nameSearchBar {
    background-color: white;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    box-shadow: 1px 2px 5px var(--main-color-4);
}

.nameSearchBarInput {
    border: none;
    outline: none;
    height: 48px;
    border-color: #dadada;
    background-color: rgba(255, 255, 255, 0);
    border-style: double;
    border: 0px;
    padding-left: 20px;
    width: auto;
}

.resultsPageMain .pro-sidebar {
    color: rgb(91, 91, 91) !important
}

.resultsPageMain .pro-sidebar-inner {
    background: white !important
}

.resultsPageMain .pro-sidebar-layout {
    flex-direction: row !important
}

.showFiltersButton {
    display: flex;
    width: 100px;
    height: 44px;
    border-radius: 6px;
    margin-right: 35px;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    /* color: black; */
    background-color: white !important;
    box-shadow: 1px 2px 5px var(--main-color-4);
}

.locationButton {
    display: flex;
    width: 180px;
    padding: 0px 0px;
    height: 44px;
    border-radius: 6px;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    /* color: black; */
    background-color: white !important;
    box-shadow: 1px 2px 5px var(--main-color-4);
    color: black;
}

.locationButtonIcon {
    padding: 0px;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    
}

.showFiltersButton.unchecked {
    color: black;
}

.showFiltersButton.checked {
    color: var(--vanmeup-2);
}

.filterButtonIcon {
    padding: 0px;
    margin-right: 5px;
    width: 15px;
    height: 20px;
}




.searchIcon {
    padding: 0px;
    margin-right: 5px;
    width: 16px;
    height: 16px;
}

.searchNameIcon {
    padding: 0px;
    margin-right: 15px;
    width: 16px;
    height: 16px;
}

.vansFoundBox {
    margin-left: 50px;
    width: 170px;
    height: 40px;
    font-size: 1em;
    border-radius: 50px;
    text-align: center;
    background-color: white;
}

.resultsPageContainerMain {
    padding: 0px;
}