.filterButton {
    display: flex;
    width: 95%;
    height: 40px;
    border-radius: 8px;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

.resultsPage {
    overflow: hidden;
    height: 100vh;
}

.filterButtonWide {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    border-radius: 8px;
}

.resultsPage {
    padding-top: 80px;
}
.resultsPage h3{
    font-size: 1.5em;
}

.filterRowSmall {
    margin-top: 0px;
    margin-bottom: 20px;
}

.filterRow {
    margin-top: 0px;
    margin-bottom: 40px;
}
.filterTitle {
    margin-top: 5px;
    margin-bottom: 20px;
}

.btn-dark {

    background-color: #111111;
    ;
    border-color: #111111;
}

.btn-dark a {
    text-decoration: none;
    color: #F3EDDE;

}

.btn-dark:hover {
    color: #F3EDDE;
    background-color: #111111;
    border-color: #111111;
    opacity: 1;

}

.textInput {
    height: 40px;
}

.textInputSmall {
    height: 30px;
}