.resultsPageMain {
    overflow: hidden;
    height: 100vh;
    padding-top: 85px;
    background-color: var(--main-color-5);
    /* font-size: 0.8em; */
}

/* .resultsContainer {
    padding: 0;
} */

.resultsTopBar {
    padding-bottom: 20px;
    padding-top: 5px;
    box-shadow: 3px 3px 5px var(--main-color-5);
    background-color: var(--main-color-5);
}

.filterMain {
    margin-top: 0px;
    padding-bottom: 250px;

}

.filterButton {
    display: flex;
    width: 95%;
    height: 40px;
    border-radius: 5px;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    font-size: 13px;
}

.filterScroll {
    flex: 1 !important;
    height: 100vh !important;
    overflow-y: scroll !important;
}



.filterButtonWide {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    border-radius: 6px;
}

/* .resultsPage h3 {
    font-size: 1.5em;
} */

.filterRowSmall {
    margin-top: 0px;
    margin-bottom: 12px;
}

.filterButtonCol {
    padding: 5px;
    margin: 0px;
}

.filterRow {
    margin-top: 0px;
    margin-bottom: 20px;
}

.filterTitle {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 17px;
}

.filterMain .btn-dark {

    background-color: #111111;
    ;
    border-color: #111111;
}

.filterMain .btn-dark a {
    text-decoration: none;
    color: #F3EDDE;

}

.filterMain .btn-dark:hover {
    color: #F3EDDE;
    background-color: #111111;
    border-color: #111111;
    opacity: 1;
}

.textInputClean {
    background-color: #f8f9fa;
    border: 0px;
}

.textInputBig {
    height: 40px;
    font-size: 13px;
}

.textInputSmall {
    height: 40px;
    font-size: 13px;
}

.testDiv {
    background-color: red;
}


/* Date picker */

.rheostat-progress {
    background-color: black !important;
}

.css-qjht2a-Label-right {
    font-size: 13px;
}

.css-nb97e2-Label-left {
    font-size: 13px;
}

.CalendarDay__selected_span {
    background: var(--main-color-5);
    color: var(--main-color-1);
    border: 1px solid var(--main-color-5);
    border-color: var(--main-color5);

    border: 0px;
}

.CalendarDay__selected {
    background: var(--main-color-1);
    color: white;
    border: 0px;
    border-color: var(--main-color-3);
    border-radius: 20px;
}

.CalendarDay__selected:hover {
    background: var(--main-color-3);
    color: white;
    border: 0px;
    border-color: var(--main-color-3);
    border-radius: 20px;
}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
    background: var(--main-color-5);
    border: 0px;
    color: var(--main-color-1);
}

.CalendarDay__default {
    border: 0px;
}

.DayPickerKeyboardShortcuts_show__bottomRight::before {
    border-color: white;
}

.DayPickerNavigation_rightButton__horizontalDefault {
    border: 0px;
}

.DayPickerNavigation_leftButton__horizontalDefault {
    border: 0px;
}

.DateInput_input__focused {
    border-color: white;
    font-size: 15px;
}

.DateInput_input {
    font-size: 15px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
}

.DateInput_1 {
    font-size: 15px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
}

.DateRangePickerInput__withBorder {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 0, 0, 0);
    border: 0px;
}

.cityAndDate {
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    width: auto;
    box-shadow: 1px 2px 5px var(--main-color-4);
    z-index: 2000;
}

.cityAndDateElem {
    border: none;
    outline: none;
    height: 48px;
    border-color: #dadada;
    background-color: rgba(255, 255, 255, 0);
    border-style: double;
    border: 0px;
    padding-left: 20px;
}

.resultsPageMain .pro-sidebar {
    color: rgb(91, 91, 91) !important
}

.resultsPageMain .pro-sidebar-inner {
    background: white !important
}

.resultsPageMain .pro-sidebar-layout {
    flex-direction: row !important
}

.showFiltersButton {
    display: flex;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin-right: 50px;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.filterButtonIcon {
    padding: 0px;
    margin-right: 5px;
    width: 15px;
    height: 20px;
}

.vansFoundBox{
    margin-left: 50px;
    width: 170px;
    height: 40px;
    font-size: 1em;
    border-radius: 50px;
    text-align: center;
    background-color: white;
}

.resultsPageContainerMain{
    padding: 0px;
}