.profile-name {
    
    color: #6e6e6e;
    font-size: 1.8em;
}

.img-profile {
    /* margin: 1em 0; */
    padding: 0;
    border-radius: 10px;
}

.profile-entry {
    padding: 1em 0.5em;

    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    /* border: 0.5px solid #ff5c5c52;
    border-radius: 10px; */
}