.profile-name {
   font-family: "Josefin Sans", sans-serif;
    color: #FF5C5C;
    text-shadow: 0.1em -0.06em 0.03em #FFCDCD;;
}

.img-profile{
    
    padding: 0;
   border-radius: 10px;
    width: 200px;
    height: auto;
}
.profile-entry{
    padding: 1em 0.5em;
    
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    border: 0.5px solid #ff5c5c52;
    border-radius: 10px;
}

