.gm-style .gm-style-iw-c {
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    
    margin: 0px;
    max-width: 300px !important;
    max-height: 500px !important;
    min-width: 0px !important;
    height: 410px;
    width: 400px;
    position: absolute;
    box-sizing: border-box;
    background-color: red;
    overflow: hidden;
    top: 0;
    left: 0;
    /* transform: scale(50%, 70%) translate(-70%, -120%); */
    
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
    padding-left: 17px;
    font-size: 16px;
}

/* .gm-style .gm-style-iw-c img{
    width: 130%;
} */

/* .gm-style .gm-style-iw-c{
    padding: 0px;
} */

/* .gm-style .gm-style-iw-d{
    padding: 0px;
} */

.gm-ui-hover-effect{
    width:35px !important;
    height: 44px !important;
    transform: scale(130%, 130%);
}